---
import ContentLayout from "./ContentLayout.astro";
import ContentImage from "@components/content-components/ContentImage.astro";

interface Props {
	data: {
        title: string,
        lastEdited: string,
        tagline?: string,
        state: "concept" | "under construction" | "operational",
        tags?: string[],
        image?: string,
    };
}

const { data } = Astro.props;
---

<ContentLayout pageTitle={data.title}>
    <hgroup slot="intro">
        <h1>{data.title}</h1>
        {data.tagline && <p class="tagline style-h5">{data.tagline}</p>}
        <p class="date">
            <span class="tag">last edited:</span> 
            {data.lastEdited}
        </p>
        <p class="state">
            <span class="tag">Writing state:</span> 
            {data.state}
        </p>
        {data.image && <ContentImage src={data.image} alt={data.image} /> }
    </hgroup>
    <div class="wrapper" slot="content">
        <slot />
    </div>
</ContentLayout>

<style>
    .wrapper {
        display: contents;
    }
</style>