---
import ContentLayout from "./ContentLayout.astro";
import ContentImage from "@components/content-components/ContentImage.astro";
import AlertDialog from "@components/content-components/AlertDialog.astro";

import { getEntries } from 'astro:content';

import { NoteState } from "../content.config.ts";

const { data } = Astro.props;

const relatedPosts = data.relatedPosts && await getEntries(data.relatedPosts);

const dateCreated = data.created.toLocaleDateString();
const dateEdited = data.lastEdited.toLocaleDateString();
---

<ContentLayout pageTitle={data.title}>
    <hgroup class="intro" slot="intro">
        <div class="top-line">
            {data.type === 'long-form' && 
                <p class="pill">{data.subType || "essay"}</p>
            }
            {data.type === 'short-form' && 
                <p class="pill">note</p>
            }
            <p class="small">{data.state}</p>
        </div>
        <h1>{data.title}</h1>
        {data.tagline && <p class="tagline style-h4">{data.tagline}</p>}
        <div class="date-line">
            <p class="date">
                <span class="tag x-small">broke ground:</span> 
                <span class="small">{dateCreated}</span>
            </p>
            { dateCreated !== dateEdited && 
                <p class="date">
                    { data.state === NoteState[2] && 
                        <span class="tag x-small">latest renovation:</span>
                    } 
                    { data.state !== NoteState[2] && 
                        <span class="tag x-small">latest progress:</span>
                    } 
                    <span class="small">{dateEdited}</span>
                </p>
            }
        </div>
    </hgroup>
    <Fragment slot="content">
        {data.image && data.showTitleImage !== false &&
            <div class="hero-image">
                <ContentImage src={data.image.src} alt={data.image.alt ?? data.title} />
            </div>
        }
        {data.state === NoteState[0] &&
            <AlertDialog style="margin-bottom: var(--spacing);" tag="div">
                <p><em class="alert-title">Note:</em> This thought is just a concept and thus not fleshed out much at all...</p>
            </AlertDialog>
        }
        {data.state === NoteState[1] &&
            <AlertDialog style="margin-bottom: var(--spacing);" tag="div">
                <p><em class="alert-title">Note:</em> This thought is under construction. It may or may not have been thoroughly proof-read.</p>
            </AlertDialog>
        }
        <slot />
        {relatedPosts && relatedPosts.length > 0 &&
            <hr/>
            <div class="related-posts">
                <h2 class="style-h4">Related posts:</h2>
                <ul>
                    { relatedPosts.map((rp: any) => (
                        <li>
                            <a class="arrow" href={rp.id}>{rp.data.title}</a>
                        </li>
                    ))}
                </ul>
            </div>
        }
    </Fragment>
    <a slot="back" class="arrow" href="/garden/">Back to the garden</a>
</ContentLayout>

<style>
    hgroup.intro {
        .top-line {
            margin-bottom: 0.5rem;
            display: flex;
            gap: 0.5rem;

            p:not(.pill) {
                font-family: var(--font-title);
                text-transform: capitalize;
                font-weight: 500;
            }
        }
        .tagline {
            margin-bottom: 0.25em;
        }
        
        .date-line {
            display: flex;
            gap: 1rem;

            .tag {
                font-family: var(--font-title);
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }
    :global(section.content) {
        p {
            opacity: 0.85;
        }
    }
    .hero-image {
        width: 100%;
        max-width: calc(100vw - (2 * var(--padding-edge, 1rem)));
    }
    .alert-title {
        font-family: var(--font-title);
        font-weight: 500;
        color: var(--color-secondary);
    }
    
    hr {
        margin-top: 60px;
        width: 100%;
    }
    .related-posts {
        gap: 1rem;
        width: 100%;
        margin-top: 40px;

        h2 {
            color: var(--color-text);
        }
    }
</style>